@if (User.Identity.IsAuthenticated)
{
    <div>Użytkownik Zalogowany.</div>
    <a asp-controller="Account" asp-action="LogOut" class="btn btn-primary">LogOut</a>
    <a asp-controller="User" asp-action="Index" class="btn btn-primary" >Gra</a>
}
else
{
    <div>Użytkownik Niezalogowany.</div>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">LogIn</a>
    <a asp-controller="Account" asp-action="Register"class="btn btn-primary">Register</a>
}
