body {
    background-color:darkgoldenrod;
}
.Machine {
    margin:auto;
    width: 600px;
    height: 550px;
    background-image: url("images/puzzlecastle.png");
    background-repeat: no-repeat;
}

.Table {
    font-size: 40px;
    margin: auto;
    width: 600px;
    height: 550px;
    background-repeat: no-repeat;
}


.tab1
{
    box-shadow: green;
}

.tab2 {
    box-shadow: red;
}

.tab3 {
    box-shadow: blue;
}

#block {
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    width: 100px;
    height: 120px;
}
#scores {
    float:left;
}

